<main class="pt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#board-navbar" aria-controls="board-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">{{$ctrl.board.name}}</a>
        <div class="collapse navbar-collapse" id="board-navbar">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" ui-sref="envelopes">Envelopes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="accounts">Accounts</a>                    
                </li>
            </ul>
        </div>
    </nav>
    <div ui-view></div>
</main>