<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="leo.core" value="https://charleszippofficial.pkgs.visualstudio.com/_packaging/leo.core/nuget/v3/index.json" />
        <add key="nugetizer3000" value="https://ci.appveyor.com/nuget/nugetizer3000" />
    </packageSources>
    <packageSourceCredentials>
    	<leo.core>
		    <add key="Username" value="charles@gmail.com" />
		    <add key="ClearTextPassword" value="rtr3gnapw27zjukxlhpbipzakhsjothqaeank6luaj7jzdzx37mq" />
	    </leo.core>
	</packageSourceCredentials>
</configuration>